<div class="max-w-lg mx-auto p-6 space-y-6 bg-white shadow-lg rounded-lg">
  <!-- Title -->
  <h2 class="text-2xl font-semibold text-gray-800">Generate Records</h2>

  <!-- Input Form -->
  <div class="space-y-4">
    <div class="flex flex-col">
      <label for="records" class="text-gray-600">Number of Records to Generate</label>
      <input
        type="number"
        id="records"
        [(ngModel)]="numRecords"
        min="0"
        max="1000000"
        class="mt-2 p-3 border border-gray-300 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"
        placeholder="Enter a number between 0 and 1,000,000"
        [disabled]="isLoading"
        [class.opacity-50]="isLoading"
        [class.cursor-not-allowed]="isLoading"
        (input)="limitRecords()"
      />
    </div>

    <!-- Submit Button -->
    <button
      (click)="generateRecords()"
      class="w-full py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition"
      [disabled]="isLoading || numRecords < 0"
    >
      <!-- Spinner or Text -->
      <span *ngIf="isLoading" class="material-icons animate-spin">hourglass_empty</span>
      <span *ngIf="!isLoading">Generate Records</span>
    </button>
  </div>

  <!-- Error Banner -->
  <div
    *ngIf="numRecords > MAX_NUM_RECORDS || backendErrorMsg.length > 0"
    class="flex items-center justify-between p-4 mt-6 bg-red-100 text-red-700 border border-red-400 rounded-lg"
  >
    <div class="flex items-center">
      <span class="material-icons mr-2">error</span>
      <div *ngIf="numRecords > MAX_NUM_RECORDS">
        <div class="font-medium">Error: Value Exceeds Maximum Limit</div>
        <div class="text-sm">
          <span>Please enter a value less than or equal to 1000,000.</span>
        </div>
      </div>
      <div *ngIf="backendErrorMsg.length > 0">
        <div class="font-medium">Error: Could not generate files</div>
        <div class="text-sm">
          <span>{{backendErrorMsg}}</span>
        </div>
      </div>
    </div>
    <button (click)="closeError()" class="text-gray-600 hover:text-gray-800">
      <span class="material-icons">close</span>
    </button>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="flex justify-center mt-6">
    <div class="spinner-border text-indigo-600" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Alert Banner -->
  <div
    *ngIf="showAlert"
    class="flex items-center justify-between p-4 mt-6 bg-green-100 text-green-700 border border-green-400 rounded-lg"
  >
    <div class="flex items-center">
      <span class="material-icons mr-2">check_circle</span>
      <div>
        <div class="font-medium">Success! Records Generated</div>
        <div class="text-sm">
          <span>{{ successMessage }}</span>
        </div>
      </div>
    </div>
    <button (click)="closeAlert()" class="text-gray-600 hover:text-gray-800">
      <span class="material-icons">close</span>
    </button>
  </div>
</div>
